<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Statistics Monitoring System</title>
</head>
<body>
    <h1>OBD-II diagnostic web tool- OnWeb Diagnostic (OWD)</h1>

	<h2>Development Plan</h2>
    <p><a href="http://db8.cse.nd.edu:5036/devplan">http://db8.cse.nd.edu:5036/devplan</a></p>

    <h2>Description</h2>
    <p>We wish to measure car statistics such as engine load, coolant temperature, speed, and RPM and store them in an online database.</p>

    <h2>Usefulness</h2>
    <p>Monitor car health both with real-time updates and post-data analysis (i.e., read codes and produce the most likely cause, tracking trends over time, per user profile).</p>

    <h2>Realness</h2>
    <p>The data would be real-time car information obtained from the OBD-II tool.</p>

    <h2>Functionality</h2>
    <p>Each user would have their own username and password, and a user_id will be assigned as the primary key.</p>

    <h4>Basic Functions:</h4>
    <ul>
        <li>A way for Users to login to their generated profile or create a new profile.</li>
        <li>Users have the following privileges:
            <ul>
                <li>Upload own data</li>
                <li>View own data</li>
                <li>Delete own data</li>
            </ul>
        </li>
        <li>Admins have the following privileges:
            <ul>
                <li>Delete users</li>
            </ul>
        </li>
    </ul>

    <h4>Advanced Functions:</h4>
    <ul>
        <li>Real-time uploading on estimated MPG: engine load, coolant temperature, speed, RPM.</li>
        <li>Comprehensive Vehicle Diagnostic Analysis</li>
    </ul>
</body>
</html>

